* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 4rem;
  background-color: #3e3c3c;
  display: flex;
  align-items: center;
}
.nav-logo {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-family: "Inter" sans-serif;
}
.nav {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  margin: 0 8rem;
  display: flex;
  justify-content: space-between;
}
.nav-link-container {
  display: flex;
  align-items: center;
  font-family: "Inter" sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}
.nav-link:last-of-type {
  margin-right: 0px;
}
.aside-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  width: 2rem;
}

.main {
  background-color: #1c1a19;
  background-image: url(./images/Illustration-header.svg);
  background-position: right;
  background-repeat: no-repeat;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
}
h1 {
  color: #f55800;
  font-family: Crete Round;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
}

.dev {
  color: #ffffff;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 20px;
}

.main-note {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #f4f5f7;
}

.main-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 36%;
  margin-left: 3rem;
}

.icons {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 20%;
}

.icons > li {
  margin-bottom: 20px;
}

.icons > li:last-of-type {
  margin-bottom: 0px;
}

.works {
  margin: 5rem 8rem;
}

.recent-works {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.recent-work-card {
  display: flex;
  align-items: flex-start;
}

h2 {
  font-family: "Crete Round" sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 20px;
}

.hr-recent {
  flex: 1;
  margin-left: 20px;
}

.multi-post-stories {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recent-tech {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.recent-tech-used {
  border: 1px solid #8993a4;
  padding: 8px 10px;
  margin-right: 10px;
}

.see-project-btn {
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-family: "Inter" sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.project-cards {
  display: flex;
  gap: 20px;
  margin: 5rem 8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project1 {
  background-image: url(./images/pj1.png);
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.see-project {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  border: none;
  font-family: "Inter" sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.see-project:enabled {
  color: #fff;
  background-color: #f55800;
}

.see-project:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}
.see-project:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.see-project:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.see-project-btn:enabled {
  color: #fff;
  background-color: #f55800;
}

.see-project-btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}
.see-project-btn:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.see-project-btn:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.project2 {
  background-image: url(./images/pj2.png);
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
}

.project2:hover > .project-name {
  display: none;
}

.project2:hover > .project-note {
  display: none;
}
.project2:hover > .project-stack {
  visibility: hidden;
}

.project3 {
  background-image: url(./images/pj3.png);
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
}

.project4 {
  background-image: url(./images/pj1.png);
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
}

.project-stack {
  margin: 10px 0;
}

.project-note {
  font-family: "Inter" sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.project-name {
  font-family: "Crete Round" sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
}

.project-stack-used {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  color: #fff;
}

.tech-used {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px;
  margin: 10px;
  background-color: #d1dbde63;
}
.tech-used:first-of-type {
  margin-left: 0;
}
.about-me {
  background-color: #1c1a19;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.about--me {
  background-image: url(./images/aboutme-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-box {
  display: flex;
  flex-direction: column;
  margin: 10rem 8rem;
  width: 32%;
}

.about {
  font-family: "Crete Round" sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  color: #f55800;
}

.about-me-note {
  color: #f4f5f7;
  font-family: "Inter" sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 10px 0 10px 0;
}

.get-my-resume {
  padding: 10px;
  font-family: "Inter" sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  width: 35%;
  background-color: #ff6b00;
  border: none;
  color: #f4f5f7;
  padding: 10px 0;
  margin: 20px 0;
}
.get-my-resume:enabled {
  color: #fff;
  background-color: #f55800;
}

.get-my-resume:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.get-my-resume:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.get-my-resume:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.stack {
  margin-bottom: 5rem;
}

.stacks {
  display: flex;
  justify-content: space-between;
  color: #f4f5f7;
  margin-left: 10%;
  width: 80%;
  font-family: "Inter" sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.hr-stack {
  margin-bottom: 10rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.list {
  list-style: none;
  font-family: "Inter" sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

li.languages {
  list-style: none;
}

li.languages::before {
  color: orange;
  content: "\25AA";
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 8px;
}

li.frameworks::before {
  color: orange;
  content: "\25AA";
  margin-right: 8px;
}

li.frameworks {
  list-style-type: none;
}

li.skills {
  list-style: none;
}

li.skills::before {
  color: orange;
  margin-right: 8px;
  content: "\25AA";
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 8rem;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 50%;
}

.contact-note {
  font-family: "Inter" sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  width: 30%;
  color: #262626;
}

.input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 10px 0 10px 5px;
  margin-bottom: 15px;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #979493;
}

.textarea {
  background-color: #fbf8f7;
  color: #3c3a39;
  border: none;
  font-family: "Inter" sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 0 0 10px;
}

.get-in-touch {
  width: 25%;
  padding: 15px;
  border: none;
  font-family: "Roboto" sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.get-in-touch:enabled {
  color: #fff;
  background-color: #f55800;
}

.get-in-touch:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.get-in-touch:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.get-in-touch:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.footer {
  border-top: 1px solid #dfe1e6;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 15%;
  padding: 25px 2%;
}

.footer-icons > li {
  margin-right: 20px;
}

.footer-icons > li:last-of-type {
  margin-right: 20px;
}
