@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media screan and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    height: 4rem;
    background-color: #3e3c3c;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    text-decoration: none;
  }

  .nav {
    color: #fff;
    text-decoration: none;
    width: 100%;
    margin: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ham {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
  }

  h1 {
    font-family: "Crete Round", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
  }

  .aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    width: 2rem;
  }

  .icons {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 20%;
    margin-bottom: 10rem;
  }

  .nav-link-container {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
  }
}

.header {
  height: 4rem;
  background-color: #3e3c3c;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body {
  margin: 0;
}

.logo-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.nav {
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.nav-link-container {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.nav-link:last-of-type {
  margin-right: 0;
}

.aside {
  visibility: hidden;
}

.main {
  background-color: #1c1a19;
  background-image: url(./images/Illustration-header.svg);
  background-position: right;
  background-repeat: no-repeat;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

h1 {
  color: #f55800;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  margin: 0;
}

.dev {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 10px;
}

.main-note {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #f4f5f7;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 36%;
  margin-left: 3rem;
}

.footer-icons > li {
  margin-right: 20px;
}

.icons > li {
  margin-bottom: 20px;
}

.footer-icons > li:last-of-type {
  margin-right: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 20%;
  margin-bottom: 10rem;
}

.icons > li:last-of-type {
  margin-bottom: 0;
}

.works {
  margin: 5rem 8rem;
}

.recent-works {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.recent-work-card {
  display: flex;
  align-items: flex-start;
}

h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

.hr-recent {
  flex: 1;
  margin-left: 20px;
}

.multi-post-stories {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recent-note {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
}

.recent-tech {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-top: 5px;
}

.recent-tech-used {
  border: 1px solid #8993a4;
  padding: 8px 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
}

.see-project-btn {
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.project-cards {
  display: flex;
  gap: 20px;
  margin: 5rem 8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project-note {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  padding-left: 20px;
}

.project-name {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  color: #fff;
  padding-left: 20px;
}

.project1 {
  background-image: url(./images/pj-1.svg);
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project1:hover {
  background-image: url(./images/pj1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.see-project-appear {
  background-color: #ff6b00;
  color: #fff;
  padding: 15px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: none;
}

.see-project-appear:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.card:hover .see-project-appear {
  display: block;
}

.see-project-appear:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.see-project-appear:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.see-project-btn:enabled {
  color: #fff;
  background-color: #f55800;
}

.see-project-btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.see-project-btn:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.see-project-btn:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.project-stack {
  margin: 10px 0;
  padding-left: 20px;
}

.project1:hover > .project-name {
  display: none;
}

.project1:hover > .project-note {
  display: none;
}

.project1:hover > .project-stack {
  visibility: hidden;
}

.project2 {
  background-image: url(./images/project2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project2:hover {
  background-image: url(./images/pj2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project2:hover > .project-name {
  display: none;
}

.project2:hover > .project-note {
  display: none;
}

.project2:hover > .project-stack {
  visibility: hidden;
}

.project3 {
  background-image: url(./images/project3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project3:hover {
  background-image: url(./images/pj3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project3:hover > .project-name {
  display: none;
}

.project3:hover > .project-note {
  display: none;
}

.project3:hover > .project-stack {
  visibility: hidden;
}

.project4 {
  background-image: url(./images/pj1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project4:hover > .project-name {
  display: none;
}

.project4:hover > .project-note {
  display: none;
}

.project4:hover > .project-stack {
  visibility: hidden;
}

.project-stack-used {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  color: #fff;
}

.tech-used {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px;
  margin: 10px;
  background-color: #d1dbde63;
}

.tech-used:first-of-type {
  margin-left: 0;
}

.about-me {
  background-color: #1c1a19;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.about--me {
  background-image: url(./images/aboutme-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-box {
  display: flex;
  flex-direction: column;
  margin: 10rem 8rem;
  width: 32%;
}

.about {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  color: #f55800;
}

.about-me-note {
  color: #f4f5f7;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 10px 0 10px 0;
}

.get-my-resume {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  width: 35%;
  background-color: #ff6b00;
  border: none;
  color: #f4f5f7;
  padding: 10px 0;
  margin: 20px 0;
}

.get-my-resume:enabled {
  color: #fff;
  background-color: #f55800;
}

.get-my-resume:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.get-my-resume:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.get-my-resume:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.stack {
  margin-bottom: 5rem;
}

.stacks {
  display: flex;
  justify-content: space-between;
  color: #f4f5f7;
  margin-left: 10%;
  width: 80%;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.hr-stack {
  margin-bottom: 10rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.list {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: left;
}

li.languages {
  list-style: none;
}

li.languages::before {
  color: #f55800;
  content: "\25A0";
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 8px;
}

li.frameworks::before {
  color: #f55800;
  content: "\25A0";
  margin-right: 8px;
}

li.frameworks {
  list-style-type: none;
}

li.skills {
  list-style: none;
}

li.skills::before {
  color: #f55800;
  margin-right: 8px;
  content: "\2B24";
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 8rem;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 50%;
}

.contact-note {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #262626;
  width: 455px;
}

.input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 10px 0 10px 5px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #979493;
}

.textarea {
  background-color: #fbf8f7;
  color: #3c3a39;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 0 0 10px;
}

.get-in-touch {
  width: 50%;
  padding: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.get-in-touch:enabled {
  color: #fff;
  background-color: #f55800;
}

.get-in-touch:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.get-in-touch:hover:enabled {
  color: #f55800;
  background-color: #fff5e1;
  border: 2px solid #f55800;
}

.get-in-touch:active:enabled {
  background-color: #f55800;
  color: #fff;
}

.footer {
  border-top: 1px solid #dfe1e6;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 15%;
  padding: 25px 2%;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    height: 4rem;
    background-color: #3e3c3c;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-link-container {
    display: none;
  }

  .ham {
    visibility: visible;
  }

  .nav {
    margin: 0 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    align-items: stretch;
    visibility: visible;
    margin-top: 10px;
  }

  .nav-logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }

  .main {
    background-image: url(./images/Illustration.png);
    background-position-x: right;
    background-position-y: 240px;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
  }

  .dev {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 32px;
  }

  h1 {
    font-family: "Crete Round", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
  }

  .aside {
    display: block;
  }

  .icons {
    display: flex;
  }

  .main-note {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 327px;
    height: 123px;
  }

  .aside-icons {
    display: none;
  }

  .main-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6rem 0;
  }

  .recent-works {
    display: flex;
    flex-direction: column;
  }

  .works {
    margin: 3.5rem 2rem;
  }

  .project-image {
    width: 100%;
  }

  .recent-work-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    margin: 1.5rem 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
  }

  .hr-recent {
    width: 100%;
  }

  .recent-note {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .multi-post-stories {
    margin-left: 0;
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
    gap: 20px;
  }

  .card {
    height: 386px;
    width: 100% !important;
  }

  .about-me {
    width: 100%;
    margin-top: 5rem;
  }

  .about--me {
    background-image: url(./images/Frame.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
  }

  .about-me-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    margin: 3.5rem 0;
  }

  .about {
    font-size: 50px;
  }

  .about-me-note {
    font-size: 16px;
    line-height: 24px;
  }

  .get-my-resume {
    padding: 10px 10px;
    width: 50%;
  }

  .stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hr-stack {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  li.skills {
    text-align: center;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 3rem 2rem;
  }

  .contact-note {
    width: 100%;
    margin: 3rem 2rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
  }

  .note {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  .contact-form {
    width: 100%;
  }

  .get-in-touch {
    width: 50%;
    margin-left: 5rem;
  }
}
